{% extends '@User/Default/userhome.html.twig' %}
{% block meta %}

{% endblock %}
            {% block stylesheets %}
                <link rel="stylesheet" href="{{ asset('css/linearicons.css') }}">
                <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
                <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
                <link rel="stylesheet" href="{{ asset('css/bootstrap2.css.map') }}">
                <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
                <link rel="stylesheet" href="{{ asset('css/nice-select.css') }}">
                <link rel="stylesheet" href="{{ asset('css/animate.min.css') }}">
                <link rel="stylesheet" href="{{ asset('css/owl.carousel.css') }}">
                <link rel="stylesheet" href="{{ asset('css/main.css') }}">
                <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
            {% endblock %}


        {% block banner %}
            <section class="banner-area relative" id="home">
                <div class="overlay overlay-bg"></div>
                <div class="container">
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="about-content col-lg-12">
                            <h1 class="text-white">
                                Modifier Projet
                            </h1>
                            <p class="text-white link-nav"><a href="index.html.twig">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="category.html">   Modifier Projet</a></p>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}


{% block content %}

    <div style="background-color: #CFD8DC">
        <br>
        <br>
        <div class="container">
            {{ form_start(edit_form) }}
            <div class="row align-items-center">
                <div class="col-4">


                    <div class="contact-form">
                        <div class="input-fields" >

                            {{ form_row(edit_form.nomProjet) }}
                            {{ form_row(edit_form.idCategorie) }}
                            {{ form_row(edit_form.votreFinance) }}
                            {{ form_row(edit_form.montant) }}
                            {{ form_row(edit_form.compteBancaire) }}
                            {{ form_row(edit_form.dateDebutProjet) }}
                            {{ form_row(edit_form.dateFinProjet) }}

                        </div>
                    </div>
                </div>
                <div class="col-4">
                </div>

                <div class="col-4">
                    <div class="contact-form">
                        <div class="input-fields" >
                            {{ form_row(edit_form.adresseProjet) }}
                            {{ form_row(edit_form.telProjet)}}
                            {{ form_row(edit_form.nbreTeam) }}
                            {{ form_row(edit_form.descriptionProjet) }}
                            {{ form_row(edit_form.emailProjet) }}
                            {{ form_row(form.image, {attr: { value : 'IT-Professional.jpg' } }) }}

                            {{ form_widget(edit_form) }}

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <center><input type="submit" value="Modifier"  class="btn" /></center>
        {{ form_end(edit_form) }}

        <ul>
            <li>
                <a href="{{ path('projet_index_user') }}">Back to the list</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete"class="btn">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>

{% endblock %}
