{% extends '@User/Default/userhome.html.twig' %}
{% block meta %}

{% endblock %}
            {% block stylesheets %}
                <link rel="stylesheet" href="{{ asset('css/linearicons.css') }}">
                <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
                <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
                <link rel="stylesheet" href="{{ asset('css/bootstrap2.css.map') }}">
                <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
                <link rel="stylesheet" href="{{ asset('css/nice-select.css') }}">
                <link rel="stylesheet" href="{{ asset('css/animate.min.css') }}">
                <link rel="stylesheet" href="{{ asset('css/owl.carousel.css') }}">
                <link rel="stylesheet" href="{{ asset('css/main.css') }}">
            {% endblock %}


        {% block banner %}
            <section class="banner-area relative" id="home">
                <div class="overlay overlay-bg"></div>
                <div class="container">
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="about-content col-lg-12">
                            <h1 class="text-white">
                                Liste des PROJET
                            </h1>
                            <p class="text-white link-nav"><a href="index.html.twig">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="category.html">   Liste des PROJET</a></p>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}

{% block content %}
    <br><br>
    <center><div class="row justify-content-center d-flex">
        <div class=" post-list">
            <ul class="cat-list">
                <li><a href="{{ path('projet_show_invest_user') }}" id="mesInv" value="ll">mes investment de projet </a></li>
                <li><a href="{{ path('projet_show_mesprojet_invest_user') }}" id="mesProjInv" value="llllll">mes Projets investment </a></li>
            </ul>
        </div></div></center>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            var searchRequest = null;
            $("#mesProjInv").click(function() {
                var minlength = 3;
                var that = this;
                var value = $(this).val();
                var entitySelector = $("#entitiesNav").html('');
               // if (value.length >= minlength) {

                   // $("#hide").hide('fast');

              //  } else {
                //    $("#hide").show();
               // }

            });
        });
    </script>






























    <div class="album py-5 bg-light" id="hide" >
        <div class="container">
            <div class="post-container">
                <div class="row">
                    <section class="featured section-padding">
                        <div class="container">
                            <div class="row">
                                <br><br>
                                {% for projet in list %}
                                    <br><br>
                                    <div class="card mb-3 col-xs-6 col-sm-6 col-md-6 col-lg-4">
                                        <h3 class="card-header"> {{ projet.nom_projet }}</h3><br>
                                        <div class="card-body">
                                            <h5 class="card-title">{{ projet.fullname }}</h5><br>
                                            <h6 class="card-subtitle text-muted">{{ projet.nom }}</h6>
                                        </div>
                                        <img style="height: 200px; width: 100%; display: block;" src="{{ asset('imgs/') }}{{ projet.Image }}">
                                        <div class="card-body">
                                            <p class="card-text"></p>
                                        </div>
                                        <ul class="list-group list-group-flush">

                                            <li class="list-group-item"><label class="text-muted">Montant </label> <br>{{ projet.montant }}</li>
                                            <li class="list-group-item"><label class="text-muted">date_invesstissement  </label> <br>{% if projet.date_invesstissement %}{{ projet.date_invesstissement|date('Y-m-d') }}{% endif %}</li>
                                        </ul>

                                    </div>
<div ></div>

                                   {# <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 card border-danger mb-3"  style="max-width: 20rem;">
                                        <div class="featured-box">
                                            <figure>
                                                <div class="homes-tag featured">{{ projet.nom_projet }}</div>
                                                <div class="homes-tag rent"><i class="lni-heart"></i>{{ projet.fullname }}</div>

                                                <a ><img class="img-fluid" src="{{ asset('imgs/') }}{{ projet.Image }}"></a>
                                            </figure>
                                            <div class="content-wrapper">
                                                <div class="feature-content">
                                                    <h4><a >{{ projet.montant }}</a></h4>
                                                    <p class="listing-tagline">{{ projet.nom }}</p>
                                                    <div class="meta-tag">
                                                        <div class="listing-review">
                                                            <span class="review-avg">{% if projet.date_invesstissement %}{{ projet.date_invesstissement|date('Y-m-d') }}{% endif %}</span>

                                                        </div>


                                                    </div>
                                                </div>
                                                <div class="listing-bottom clearfix">
                                                    <div class="btn-group">



                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>#}
                                {% endfor %}

                            </div>
                        </div>

                    </section>



                </div>

            </div>
        </div>
    </div>


{% endblock %}
 {% block javascripts %}
     <script src="{{ asset('js/vendor/jquery-2.2.4.min.js') }}"></script>
     <script src="{{ asset('js/vendor/bootstrap.min.js') }}"></script>
     <script src="{{ asset('js/easing.min.js') }}"></script>
     <script src="{{ asset('js/hoverIntent.js') }}"></script>
     <script src="{{ asset('js/superfish.min.js') }}"></script>
     <script src="{{ asset('js/jquery.ajaxchimp.min.js') }}"></script>
     <script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
     <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
     <script src="{{ asset('js/jquery.sticky.js') }}"></script>
     <script src="{{ asset('js/jquery.nice-select.min.js') }}"></script>
     <script src="{{ asset('js/mail-script.js') }}"></script>
     <script src="{{ asset('js/main.js') }}"></script>
     <script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js') }} " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
 {% endblock %}