{% extends '@User/Default/entreprisehome.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/linearicons.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap2.css.map') }}">
    <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ asset('css/nice-select.css') }}">
    <link rel="stylesheet" href="{{ asset('css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styleajout.css') }}">

{% endblock %}

  {% block banner %}
      <section class="banner-area relative" id="home">
          <div class="overlay overlay-bg"></div>
          <div class="container">
              <div class="row d-flex align-items-center justify-content-center">
                  <div class="about-content col-lg-12">
                      <h1 class="text-white">
                          Modifier Formation
                      </h1>
                  </div>
              </div>
          </div>
      </section>
  {% endblock %}
{% block content %}
<br><br>
<div class="container">
    <div class="card" >
        <div class="card-body">
            <div class="container">
        {{ form_start(edit_form) }}
        <div class="row align-items-center">
            <div class="col-4">
                <div class="contact-form">
                    <div class="input-fields" >
                        <strong>Nom : * </strong> {{ form_widget(edit_form.nom,{'attr':{'type':'text','placeholder':'Nom...','class':'input'}}) }} </br> </br>
                        <strong>Domaine : *</strong> {{ form_widget(edit_form.domaine,{'attr':{'type':'text','placeholder':'Domaine...','class':'input'}}) }} </br> </br>
                        <strong>Description : * </strong> {{ form_widget(edit_form.description,{'attr':{'type':'text','placeholder':'Description...','class':'input'}}) }} </br> </br>
                        <strong>Duree : * </strong> {{ form_widget(edit_form.duree,{'attr':{'type':'text','placeholder':'Duree...','class':'input'}}) }} </br> </br>
                        <strong>dateDebut : * </strong> {{ form_widget(edit_form.dateDebut,{'attr':{'type':'text','placeholder':'Datedebut...','class':'input'}})}} </br></br>
                        <strong>dateFin : * </strong> {{ form_widget(edit_form.dateFin,{'attr':{'type':'text','placeholder':'Domaine...','class':'input'}} )}} </br> </br>

                    </div>
                </div>
            </div>
            <div class="col-4">
            </div>

            <div class="col-4">
                <div class="contact-form">
                    <div class="input-fields" >
                        <strong>prix : * </strong> {{ form_widget(edit_form.prix,{'attr':{'type':'text','placeholder':'00.0DT...','class':'input'}}) }} </br> </br>
                        <strong>adresse : * </strong> {{ form_widget(edit_form.adresse,{'attr':{'type':'text','class':'input'}}) }} </br> </br>
                        <strong>email : * </strong> {{ form_widget(edit_form.email,{'attr':{'type':'text','placeholder':'example@gmail.com','class':'input'}}) }} </br> </br>
                        <strong>contact : * </strong> {{ form_widget(edit_form.contact,{'attr':{'type':'text','placeholder':'','class':'input'}}) }} </br> </br>         *

                        <strong>nombres : * </strong> {{ form_widget(edit_form.nombres,{'attr':{'type':'text','placeholder':'','class':'input'}}) }} </br> </br>
                        <img style="height: 200px; width: 50%; display: block;" src="{{ asset('images/') }}{{ formation.image }}" alt="Card image"> </br> </br>

                        {#   <strong>entreprise : * </strong> {{ form_widget(form.entreprise) }} </br> </br> #}


                        Upload image {{ form_widget(edit_form.file) }}
                    </div>
                </div>
            </div>
        </div>

    </div>
    <center>  <input type="submit" value="Modifier" class="btn" onclick="this.disabled=true;this.value='Sending, please wait...';this.form.submit();"> </center>
    {{ form_end(edit_form) }}
    <ul>
        <li>
            <a class="btn" href="{{ path('formations_index') }}"> retour</a>
        </li>

    </ul>
        </div>
    </div>
</div>

    <br><br>

{% endblock %}
 {% block javascripts %}
     <script src="{{ asset('js/vendor/jquery-2.2.4.min.js') }}"></script>
     <script src="{{ asset('js/vendor/bootstrap.min.js') }}"></script>
     <script src="{{ asset('js/easing.min.js') }}"></script>
     <script src="{{ asset('js/hoverIntent.js') }}"></script>
     <script src="{{ asset('js/superfish.min.js') }}"></script>
     <script src="{{ asset('js/jquery.ajaxchimp.min.js') }}"></script>
     <script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
     <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
     <script src="{{ asset('js/jquery.sticky.js') }}"></script>
     <script src="{{ asset('js/jquery.nice-select.min.js') }}"></script>
     <script src="{{ asset('js/mail-script.js') }}"></script>
     <script src="{{ asset('js/main.js') }}"></script>
     <script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js') }} " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
 {% endblock %}
