{% extends '@User/Default/entreprisehome.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/linearicons.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap2.css.map') }}">
    <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ asset('css/nice-select.css') }}">
    <link rel="stylesheet" href="{{ asset('css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styleajout.css') }}">
    <link rel="stylesheet" href="{{ asset('css/page.css') }}">

{% endblock %}

  {% block banner %}
      <section class="banner-area relative" id="home">
          <div class="overlay overlay-bg"></div>
          <div class="container">
              <div class="row d-flex align-items-center justify-content-center">
                  <div class="about-content col-lg-12">
                      <h1 class="text-white">
                          Listes des inscrits
                      </h1>
                  </div>
              </div>
          </div>
      </section>
  {% endblock %}
{% block content %}
    <br><br>
    <br><br>
    <div class="table-responsive container">
    <table class="table table-striped" width="100px" border ="1px"  >
        <thead>
        <tr>
            <th scope="col">Nom et prenom </th>
            <th scope="col">Nom formation</th>
            <th scope="col">Domaine</th>
            <th scope="col"> Date Debut  </th>
            <th scope="col">Date Fin</th>
        </tr>
        </thead>
        <tbody>
        {% for lis in list %}
        <tr>
            <td>{{lis.fullname}}</td>
            <td>{{lis.Nom}}</td>

            <td>{{lis.nom_domaine}}</td>








            <td>{{lis.date_debut}}</td>



            <td>{{lis.date_fin}}</td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
        <div class="text-center">{{ knp_pagination_render(list) }}</div>
    </div>
<br><br>
 <br>
    <br><br><br><br><br>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/vendor/jquery-2.2.4.min.js') }}"></script>
    <script src="{{ asset('js/vendor/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/easing.min.js') }}"></script>
    <script src="{{ asset('js/hoverIntent.js') }}"></script>
    <script src="{{ asset('js/superfish.min.js') }}"></script>
    <script src="{{ asset('js/jquery.ajaxchimp.min.js') }}"></script>
    <script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('js/jquery.sticky.js') }}"></script>
    <script src="{{ asset('js/jquery.nice-select.min.js') }}"></script>
    <script src="{{ asset('js/mail-script.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js') }} " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
{% endblock %}