{% extends '@User/Default/userhome.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('/css/semantic.min.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('/css/icon.min.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('/css/font-awesome.min.css')}}"/>
    <link rel="stylesheet" href="{{ asset('css/linearicons.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap2.css.map') }}">
    <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ asset('css/nice-select.css') }}">
    <link rel="stylesheet" href="{{ asset('css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main2.css') }}">
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
    <link rel="stylesheet" href="{{ asset('css/common.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="{{ asset('/js/bootstrap3-typeahead.min.js')}}"></script>
    <script src="{{ asset('/js/jquery-2.2.3.min.js')}}"></script>
    <script src="{{ asset('/js/subjectrechercheajax.js')}}"></script>
    <script src="{{ asset('/js/jquery-3.1.1.min.js')}}"></script>
    <script src="{{ asset('/js/semantic.min.js')}}"></script>
    <script src="{{ asset('/js/autocompletsubject.js')}}"></script>
    <script src="{{ asset('/js/deleterec.js')}}"></script>
    <script src="https://use.fontawesome.com/20cf2951f4.js"></script>

    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.1/bootstrap3-typeahead.min.js"></script>
{% endblock %}

         {% block content %}

             <section class="jobs">
                 <div class="container">
                     <div class="heading">
                         <ul>
                             <li>
                                 <a href="{{ path('reclamation_new') }}"><button type="button" class="btn btn-secondary">send new reclamation</button></a>
                             </li>
                         </ul>
                     </div>

                     <div class="companies">
                         {% for reclamation in reclamations %}


                             <div class="company-list">
                                 <div class="row">
                                     <div class="col-md-2 col-sm-2">
                                         <div class="company-logo" align="center" style="position: absolute;   left: 50%;  top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);">
                                             <img src="{{asset('img/o3.png')}}" class="img-responsive" alt="" />
                                         </div>
                                     </div>
                                     <div class="col-md-8 col-sm-8">
                                         <div class="company-content">
                                             <h3>{{ reclamation.subject }}</h3>
                                             <p>
                      <span class="company-name">
                      <i class="fa fa-weixin" ></i>{{ reclamation.subject}}</span>

                                                 <span class="company-name">
                      <i class="fa fa-user-o" ></i>{{reclamation.iduser}}</span>


                                             </p>
                                         </div>
                                     </div>
                                     {% if  app.request.pathinfo == "/reclamation/indexuser" %}
                                         <div class="col-md-2 col-sm-2">
                                             <a href={{ path('reclamation_delete_id', {'id':reclamation.id}) }}><button type="submit" value="Delete" class="btn supprimer-offre" name="View Job">Supprimer</button></a>
                                             <a href={{ path('reclamation_show', {'id':reclamation.id}) }}><button type="submit" class="btn consulter-c" style="align-self: center" name="View Job">Consulter</button></a>
                                         </div>
                                     {% endif %}
                                 </div>

                             </div>
                         {% endfor %}
                     </div>
                 </div>

             </section>


         {% endblock %}

