{% extends '@User/Default/entreprisehome.html.twig' %}
{% block meta %}

{% endblock %}
            {% block stylesheets %}
                <link rel="stylesheet" href="{{ asset('css/linearicons.css') }}">
                <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
                <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
                <link rel="stylesheet" href="{{ asset('css/bootstrap2.css.map') }}">
                <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
                <link rel="stylesheet" href="{{ asset('css/nice-select.css') }}">
                <link rel="stylesheet" href="{{ asset('css/animate.min.css') }}">
                <link rel="stylesheet" href="{{ asset('css/owl.carousel.css') }}">
                <link rel="stylesheet" href="{{ asset('css/main.css') }}">
            {% endblock %}

        {% block banner %}
            <section class="banner-area relative" id="home">
                <div class="overlay overlay-bg"></div>
                <div class="container">
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="about-content col-lg-12">
                            <h1 class="text-white">
                                AFFICHE INVESTISSEMENT
                            </h1>
                            <p class="text-white link-nav"><a href="index.html.twig">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="category.html">AFFICHE INVESTISSEMENT </a></p>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}




{% block content %}
    <div style="background-color: #424242">
    <div class="card mb-3 container " >
        <h3 class="card-header"> {{ projet.nomProjet }} </h3>
        <div class="card-body">
            <h5 class="card-title">Categorie : {{ projet.idCategorie.nom }}</h5>
            <h6 class="card-subtitle text-muted">tel: {{ projet.telProjet }}</h6>
        </div>
        <img style="height: 200px; width: 100%; display: block;" src="{{ asset('imgs/') }}{{ projet.image }}" alt="Card image">
        <div class="card-body">
            <p class="card-text"><h3> Description : </h3>{{ projet.descriptionProjet }}</p>
        </div>
        <ul class="list-group list-group-flush">

            <li class="list-group-item">
                <label class="lead" >Votre finance     :    </label> {{ projet.votreFinance }}   <a href="#" ><span class="lnr lnr-heart"></span></a></li>

            <li class="list-group-item"> <label class="lead" >Montant           :    </label> {{ projet.montant }} </li>

            <li class="list-group-item"> <label class="lead" >Compte bancaire   :    </label>{{ projet.compteBancaire }}</li>

            <li class="list-group-item"> <label class="lead" >Duree             :    </label>{{ projet.duree }}</li>

            <li class="list-group-item"> <label class="lead" >Date debut projet :    </label>{% if projet.dateDebutProjet %}{{ projet.dateDebutProjet|date('Y-m-d') }}{% endif %}</li>

            <li class="list-group-item"> <label class="lead" >Adresse           :    </label>{{ projet.adresseProjet }}</li>

            <li class="list-group-item"><label class="lead" >Nbre team         :    </label>{{ projet.nbreTeam }}</li>

            <li class="list-group-item"><label class="lead" >Email             :    </label> {{ projet.emailProjet }}</li>

        </ul>
        <div class="card-body">
            <div class="card-body">
                <center>
                    <div class="row align-items-center">
                        <div class="col-4">
                            <a href="{{ path('projet_index') }}" class="card-link">
                                <button class="btn btn-outline-secondary">Back to the list</button></a>
                        </div>
                        <div class="col-4">
                            <a href="{{ path('projet_edit', { 'idProjet': projet.idProjet }) }}"  class="card-link"><button class="btn btn-outline-secondary">Modifier</button></a>
                        </div>

                        <div class="col-4">
                            <a  class="btn btn-outline-secondary" data-toggle="modal" data-target="#con" href=""> investire </a>
                            <!-- Modal -->
                            <div class="modal fade" id="con">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <h4 class="modal-title">investire Projet :{{ projet.nomProjet }}</h4>

                                        </div>
                                        <div class="modal-body">
                                            <div class="card-body"  style="font-size: 17px">
                                                {{ form_start(formInv) }}
                                                {{ form_widget(formInv) }}

                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <div class="col-4">
                                                <a href="{{ path('projet_show', { 'idProjet': projet.idProjet }) }}" class="card-link">
                                                    <button class="btn btn-danger ">Annuler</button></a>
                                            </div>
                                            <div class="col-4">
                                            </div>
                                            <div class="col-4">

                                                <input type="submit" value="Confirmer" class="btn btn-success" >
                                                {{ form_end(formInv) }}
                                            </div>


                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                        </div>


                    </div>
                </center>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
        <div class="card" style="background-color: #424242">

        </div>
    </div>

{% endblock %}