{% extends '@User/Default/entreprisehome.html.twig' %}
{% block meta %}

{% endblock %}
            {% block stylesheets %}
                <link rel="stylesheet" href="{{ asset('css/linearicons.css') }}">
                <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
                <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
                <link rel="stylesheet" href="{{ asset('css/bootstrap2.css.map') }}">
                <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
                <link rel="stylesheet" href="{{ asset('css/nice-select.css') }}">
                <link rel="stylesheet" href="{{ asset('css/animate.min.css') }}">
                <link rel="stylesheet" href="{{ asset('css/owl.carousel.css') }}">
                <link rel="stylesheet" href="{{ asset('css/main.css') }}">
            {% endblock %}


        {% block banner %}
            <section class="banner-area relative" id="home">
                <div class="overlay overlay-bg"></div>
                <div class="container">
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="about-content col-lg-12">
                            <h1 class="text-white">
                                Liste des projet
                            </h1>
                            <p class="text-white link-nav"><a href="index.html.twig">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="category.html"> Liste des projet</a></p>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}

        {% block content %}



            <div class="row justify-content-center d-flex">
                <div class="col-lg-8 post-list">
                    <ul class="cat-list">
                        <li><a href="#">Recent</a></li>
                        <li><a href="#">Full Time</a></li>
                        <li><a href="#">Intern</a></li>
                        <li><a href="#">part Time</a></li>
                    </ul>
                    <div class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" id="search" class="form-control" placeholder="Suche...">
                        </div>
                        <!-- /input-group -->
                    </div>
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="#"> Entities<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level" id="entitiesNav">
                            </ul>
                        </li>
                    </ul>
                    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

                    <script type="text/javascript">
                        jQuery(document).ready(function() {
                            var searchRequest = null;
                            $("#search").keyup(function() {
                                var minlength = 1;
                                var that = this;
                                var value = $(this).val();
                                var entitySelector = $("#entitiesNav").html('');
                                if(value.length >= minlength) {

                                    $("#hide").hide('fast');

                                }
                                else
                                {
                                    $("#hide").show();
                                }

                                if (value.length >= minlength ) {
                                    if (searchRequest != null)
                                        searchRequest.abort();
                                    searchRequest = $.ajax({
                                        type: "GET",
                                        url: "{{ path('recherch_ajax') }}",
                                        data: {
                                            'q' : value
                                        },
                                        dataType: "text",
                                        success: function(msg){
                                            //we need to check if the value is the same
                                            if (value===$(that).val()) {
                                                var result = JSON.parse(msg);
                                                $.each(result, function(key, arr) {
                                                    $.each(arr, function(refEnt, value) {
                                                        if (key === 'ent') {
                                                            if (refEnt !== 'error') {
                                                                console.log(value[14]);
                                                                var idu=value[14];
                                                                console.log(value[11]);
                                                                var i=value[11];

                                                                if(idu==i) {
                                                                    console.log(value[0]);
                                                                    var id = value[0];
                                                                    var path = '{{ path('projet_show',{'idProjet': 'x'}) }}';
                                                                    path = path.replace("x", id);

                                                                }
                                                                if(idu!=i) {
                                                                    console.log(value[0]);
                                                                    var id = value[0];
                                                                    var path = '{{ path('projet_show_visiteur_projet',{'idProjet': 'x'}) }}';
                                                                    path = path.replace("x", id);

                                                                }

                                                                entitySelector.append(

                                                                    " <div class='single-post d-flex flex-row' style='background-color: #CFD8DC '>"+
                                                                    "<div class='thumb'>"+
                                                                    "<img src='imgs/"+ value[12] + "' alt='' style='height: 80px'>"+

                                                                    " </div>"+





                                                                    " <div class='details' >"+
                                                                    "<div class='title d-flex flex-row justify-content-between'>"+
                                                                    " <div class='titles'>"+
                                                                    " <a href='single.html'><h4>"+ value[1] + "</h4></a>"+
                                                                    " <h6>"+ value[7] + "</h6>"+
                                                                    " </div>"+
                                                                    "  <ul class='btns'>"+
                                                                    " <li><a href='#'><span class='lnr lnr-heart'></span></a></li>"+
                                                                    "<li><a href='"+ path + "'>Affich</a></li>"+
                                                                    "   </ul>"+
                                                                    "  </div>"+
                                                                    "    <p>"+
                                                                    "<label>Description : </label> "+ value[5] + ""+
                                                                    "   </p>"+
                                                                    " <h5><label>Date debut : </label>"+ value[13] + " </h5>"+

                                                                    " <p class='address'><span class='lnr lnr-map'></span> "+ value[2] + " DT </p>"+
                                                                    "  <p class='address'><span class='lnr lnr-database'></span>"+ value[10] + "</p>"+
                                                                    " </div>"+
                                                                    " </div>");
                                                            } else {
                                                                entitySelector.append('<li class="errorLi">'+value+'</li>');
                                                            }
                                                        }
                                                    });
                                                });
                                            }
                                        }
                                    });
                                }
                            });
                        });
                    </script>
                    <div id="hide">

                        {% for projet in projets %}
                            {% if projet.idEtat==3 %}
                                {% set a="#ffebee" %}
                            {% elseif projet.idEtat==1 %}
                                {% set a=" #CFD8DC" %}
                            {% elseif projet.idEtat==2  %}
                                {% set a="#E0F7FA" %}
                            {% endif %}
{% if projet.idCategorie.id == topaimer.0.id_categorie %}

                            <div class="single-post d-flex flex-row" style="background-color: {{ a }} ">
                                <div class="thumb">
                                    <center>
                                    <img src="{{ asset('imgs/') }}{{ projet.image }}" alt="" style="height: 80px">
                                    </center>
                                </div>





                                <div class="details" >
                                    <div class="title d-flex flex-row justify-content-between">
                                        <div class="titles">
                                            <a href="single.html"><h4>{{ projet.nomProjet }}</h4></a>
                                            <h6>{{ projet.idCategorie.nom }}</h6>
                                        </div>
                                        <ul class="btns">
                                            <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                                            {% if iduser == projet.idEntreprise.id  %}
                                            <li><a href="{{ path('projet_show',{'idProjet':projet.idProjet}) }}">Affich</a></li>
                                            {% else %}
                                                <li><a href="{{ path('projet_show_visiteur_projet',{'idProjet':projet.idProjet}) }}">Affich</a></li>
                                                {% endif %}
                                        </ul>
                                    </div>
                                    <p>
                                        <label>Description : </label> {{ projet.descriptionProjet }}
                                    </p>
                                    <h5><label>Date debut : </label> {% if projet.dateDebutProjet %}{{ projet.dateDebutProjet|date('Y-m-d') }}{% endif %}</h5>

                                    <p class="address"><span class="lnr lnr-map"></span> {{ projet.montant }} DT </p>
                                    <p class="address"><span class="lnr lnr-database"></span>{{ projet.votreFinance }}</p>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                        {% for projet in projets %}
                            {% if projet.idEtat==3 %}
                                {% set a="#b71c1c" %}
                            {% elseif projet.idEtat==1 %}
                                {% set a=" #CFD8DC" %}
                            {% elseif projet.idEtat==2  %}
                                {% set a="#1c7430" %}
                            {% endif %}
                            {% if projet.idCategorie.id != topaimer.0.id_categorie %}
                            <div class="single-post d-flex flex-row" style="background-color: {{ a }} ">
                                <div class="thumb">
                                    <center>
                                    <img src="{{ asset('imgs/') }}{{ projet.image }}" alt="" style="height: 80px">
                                    </center>
                                </div>





                                <div class="details" >
                                    <div class="title d-flex flex-row justify-content-between">
                                        <div class="titles">
                                            <a href="single.html"><h4>{{ projet.nomProjet }}</h4></a>
                                            <h6>{{ projet.idCategorie.nom }}</h6>
                                        </div>
                                        <ul class="btns">
                                            <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                                            {% if iduser == projet.idEntreprise.id  %}
                                                <li><a href="{{ path('projet_show',{'idProjet':projet.idProjet}) }}">Affich</a></li>
                                            {% else %}
                                                <li><a href="{{ path('projet_show_visiteur_projet',{'idProjet':projet.idProjet}) }}">Affich</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    <p>
                                        <label>Description : </label> {{ projet.descriptionProjet }}
                                    </p>
                                    <h5><label>Date debut : </label> {% if projet.dateDebutProjet %}{{ projet.dateDebutProjet|date('Y-m-d') }}{% endif %}</h5>

                                    <p class="address"><span class="lnr lnr-map"></span> {{ projet.montant }} DT </p>
                                    <p class="address"><span class="lnr lnr-database"></span>{{ projet.votreFinance }}</p>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <a class="text-uppercase loadmore-btn mx-auto d-block" href="category.html">Load More job Posts</a>

                </div>
                <div class="col-lg-4 sidebar">
                    <div class="single-slidebar">
                        <h4>Jobs by Location</h4>
                        <ul class="cat-list">
                            {% set newArray=[] %}
                            {% for projet in projets %}
                                {% if projet.idCategorie.nom not in newArray %}
                                    {% set newArray=newArray | merge ([projet.idCategorie.nom]) %}
                                    <li><a class="justify-content-between d-flex" href="category.html">{{ projet.idCategorie.nom }}<p></p><span>
                                        {% set i=0 %}
                                                {% for project in projets %}
                                                    {% if projet.idCategorie.nom == project.idCategorie.nom %}
                                                        {% set i=i+1 %}
                                                    {% endif %}
                                                {% endfor %}

                                                {{ i }}

                                         </span></a></li>
                                {% endif %}

                            {% endfor %}

                        </ul>
                    </div>

                    <div class="single-slidebar">
                        <h4>Top projet</h4>

                        <div class="active-relatedjob-carusel">
                            {% for k in top %}

                                <div class="single-rated">
                                    <img class="img-fluid" src="{{ asset('imgs/') }}{{ k.Image }}" alt="">
                                    <a href="single.html"><h4>{{ k.nom_projet }}</h4></a>
                                    <h6>{{ k.montant }}</h6>
                                    <p>
                                        {{ k.description_projet }}
                                    </p>
                                    <p class="address"><span class="lnr lnr-map"></span> {{ k.compte_bancaire }}</p>
                                    <p class="address"><span class="lnr lnr-database"></span>{% if k.date_fin_projet %}{{ k.date_fin_projet|date('Y-m-d') }}{% endif %} </p>
                                    <a href="#" class="btns text-uppercase">Apply job</a>

                                </div>
                            {% endfor %}

                        </div>

                        </div>
                    </div></div>

        {% endblock %}

       {% block javascripts %}
           <script src="{{ asset('js/vendor/jquery-2.2.4.min.js') }}"></script>
           <script src="{{ asset('js/vendor/bootstrap.min.js') }}"></script>
           <script src="{{ asset('js/easing.min.js') }}"></script>
           <script src="{{ asset('js/hoverIntent.js') }}"></script>
           <script src="{{ asset('js/superfish.min.js') }}"></script>
           <script src="{{ asset('js/jquery.ajaxchimp.min.js') }}"></script>
           <script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
           <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
           <script src="{{ asset('js/jquery.sticky.js') }}"></script>
           <script src="{{ asset('js/jquery.nice-select.min.js') }}"></script>
           <script src="{{ asset('js/mail-script.js') }}"></script>
           <script src="{{ asset('js/main.js') }}"></script>
           <script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js') }}" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
           <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
           <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>



       {% endblock %}




   {# <h1>Projets list</h1>

    <table>
        <thead>
            <tr>
                <th>Idprojet</th>
                <th>Nomprojet</th>
                <th>Categorie</th>
                <th>Votrefinance</th>
                <th>Montant</th>
                <th>Comptebancaire</th>
                <th>Duree</th>
                <th>Datedebutprojet</th>
                <th>Adresseprojet</th>
                <th>Telprojet</th>
                <th>Nbreteam</th>
                <th>Descriptionprojet</th>
                <th>Emailprojet</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for projet in projets %}
           {# <tr>
                <td><a href="{{ path('projet_show', { 'idProjet': projet.idProjet }) }}">{{ projet.idProjet }}</a></td>
                <td>{{ projet.nomProjet }}</td>
                <td>{{ projet.categorie }}</td>
                <td>{{ projet.votreFinance }}</td>
                <td>{{ projet.montant }}</td>
                <td>{{ projet.compteBancaire }}</td>
                <td>{{ projet.duree }}</td>
                <td>{% if projet.dateDebutProjet %}{{ projet.dateDebutProjet|date('Y-m-d') }}{% endif %}</td>
                <td>{{ projet.adresseProjet }}</td>
                <td>{{ projet.telProjet }}</td>
                <td>{{ projet.nbreTeam }}</td>
                <td>{{ projet.descriptionProjet }}</td>
                <td>{{ projet.emailProjet }}</td>
                <td>{{ projet.image }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('projet_show', { 'idProjet': projet.idProjet }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('projet_edit', { 'idProjet': projet.idProjet }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
            <div class="details container">
                <div class="title d-flex flex-row justify-content-between">
                    <div class="titles">
                        <a href="single.html"><h4>{{projet.nomProjet}}</h4></a>
                        <h6>Premium Labels Limited</h6>
                    </div>
                    <ul class="btns">
                        <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                        <li><a href="{{ path('projet_affich',{'id':projet.idProjet}) }}">Apply</a></li>
                    </ul>
                </div>
                <p>{{ projet.descriptionProjet }}</p>
                <h5>{{ projet.dateDebutProjet | date("d-m-y") }}</h5>
                <p class="address"><span class="lnr lnr-map"></span>{{ projet.adresseProjet }}</p>
                <p class="address"><span class="lnr lnr-database"></span> {{ projet.idEntreprise.username }}</p>
            </div>
            </div>
            <div class="single-post d-flex flex-row">
                <div class="thumb">
                    <img src="img/post.png" alt="">

                </div>
            </div>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('projet_new') }}">Create a new projet</a>
        </li>
    </ul>#}



{#{% extends 'base.html.twig' %}

{% block content %}
    <h1>Projets list</h1>

    <table>
        <thead>
            <tr>
                <th>Idprojet</th>
                <th>Nomprojet</th>
                <th>Votrefinance</th>
                <th>Montant</th>
                <th>Comptebancaire</th>
                <th>Duree</th>
                <th>Datedebutprojet</th>
                <th>Adresseprojet</th>
                <th>Telprojet</th>
                <th>Nbreteam</th>
                <th>Descriptionprojet</th>
                <th>Emailprojet</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for projet in projets %}
            <tr>
                <td><a href="{{ path('projet_show', { 'idProjet': projet.idProjet }) }}">{{ projet.idProjet }}</a></td>
                <td>{{ projet.nomProjet }}</td>
                <td>{{ projet.votreFinance }}</td>
                <td>{{ projet.montant }}</td>
                <td>{{ projet.compteBancaire }}</td>
                <td>{{ projet.duree }}</td>
                <td>{% if projet.dateDebutProjet %}{{ projet.dateDebutProjet|date('Y-m-d') }}{% endif %}</td>
                <td>{{ projet.adresseProjet }}</td>
                <td>{{ projet.telProjet }}</td>
                <td>{{ projet.nbreTeam }}</td>
                <td>{{ projet.descriptionProjet }}</td>
                <td>{{ projet.emailProjet }}</td>
                <td>{{ projet.image }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('projet_show', { 'idProjet': projet.idProjet }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('projet_edit', { 'idProjet': projet.idProjet }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('projet_new') }}">Create a new projet</a>
        </li>
    </ul>
{% endblock %}#}
