{% extends role == 0
    ? '@User/Default/userhome.html.twig'
    : '@User/Default/entreprisehome.html.twig' %}

        {% block banner %}
            <section class="banner-area relative" id="home">
                <div class="overlay overlay-bg"></div>
                <div class="container">
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="about-content col-lg-12">
                            <h1 class="text-white">
                                Liste des Offres
                            </h1>
                            <p class="text-white link-nav"><a href="../Default/index.html.twig">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="category.html"> Liste des Offre</a></p>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}

        {% block content %}

            <section class="profile-detail">
                <div class="container">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="basic-information">
                                <div class="col-md-3 col-sm-3">
                                    <img src="img/user.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <div class="profile-content">
                                        <h2>{{ user.fullname }}<span>{{ user.email }}</span></h2>
                                        <ul class="information">
                                            {% if role == 0 %}
                                            <li><span>Type de Compte:</span>{{ "Utilisateur normale" }}</li>
                                            {% else %}
                                            <li><span>Type de Compte:</span>{{ "Entreprise" }}</li>
                                            {% endif %}
                                            <li><span>Name:</span>{{ user.fullname }}</li>
                                            <li><span>Email:</span>{{ user.email }}</li>
                                            <li><span>Mobile:</span>{{ user.tel }}</li>
                                            <li><span>Company:</span>{{ user.adresse }}</li>
                                            {% if role == 0 %}
                                            <li><span>Compétences</span>
                                                {% if skills is not empty%}
                                                    {% for skill in skills %}
                                                        {% for s in skill %}
                                                            <span class="service-tag">{{ s.name }}</span>
                                                        {% endfor %}
                                                    {% endfor %}
                                                {% else %}
                                                    <p>Vous n'avez pas encore ajouter des compétences</p>
                                                {% endif %}

                                            </li>
                                            <li><span>Langues</span>
                                                {% if langues is not empty%}
                                                    {% for langue in langues %}
                                                        {% for s in langue %}
                                                            <span class="service-tag">{{ s.nom }}</span>
                                                        {% endfor %}
                                                    {% endfor %}
                                                {% else %}
                                                    <p >Vous n'avez pas encore ajouter des langues</p>
                                                {% endif %}
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>


                                    <div style="margin-top: 20px" class="panel panel-default">
                                        <div class="panel-heading">
                                            <i class="fa fa-cog fa-fw"></i> Actions
                                        </div>

                                        <form>
                                            <div class="form-submit">
                                                <a href="{{ path('modifier_profil', {'id':user.id}) }}"> <input style="margin-top: 10px; text-align: center" value="Modifier" class="submit" id="submit" name="submit" /></a>

                                            </div>
                                        </form>



                            </div>
                        </div>
                    </div>
                </div>
            </section>


        {% endblock %}

