{% extends 'base.html.twig' %}


        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/linearicons.css') }}">
            <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap2.css.map') }}">
            <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
            <link rel="stylesheet" href="{{ asset('css/nice-select.css') }}">
            <link rel="stylesheet" href="{{ asset('css/animate.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/owl.carousel.css') }}">
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
            <link rel="stylesheet" href="{{ asset('css/main2.css') }}">
            <link rel="stylesheet" href="{{ asset('css/login.css') }}">
            <link rel="stylesheet" href="{{ asset('css/common.css') }}">
        {% endblock %}

       {% block nav %}
           <header id="header" id="home">
               <div class="container">
                   <div class="row align-items-center justify-content-between d-flex">
                       <div id="logo">
                           <a href={{ path('index') }}><img src="img/logo.png" alt="" title="" style="width:158px;height:30px;"/></a>
                       </div>
                       <nav id="nav-menu-container">
                           <ul class="nav-menu">
                               <li class="menu-active"><a href={{ path('index') }}>Home</a></li>
                               <li class="menu-active"><a href={{ path('read_offre_user') }}>Les Offres</a></li>
                               <li class="menu-active"><a href={{ path('index') }}>Les Formations</a></li>
                               <li class="menu-active"><a href={{ path('index') }}>Crowdfundings</a></li>
                               <li class="menu-active"><a href={{ path('index') }}>Forum</a></li>
                               <li class="menu-has-children"><a href=""><p>connected as : {{ app.user.username }}</p></a>
                                   <ul>
                                       <li><a href="{{ path('mon_profil') }}">Mon Profil</a></li>
                                       <li><a href={{ path('mes_condidatures') }}>Mes Candidatures</a></li>
                                       <li><a href="">Mes Formations</a></li>
                                       <li><a href="">Mes Entretiens</a></li>
                                       <li><a href="">Mes Crowdfundings</a></li>
                                       <li><a href={{ path('reclamation_index') }}>ajouter reclamation</a></li>
                                       <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                                   </ul>
                               </li>
                           </ul>
                       </nav><!-- #nav-menu-container -->
                   </div>
               </div>
           </header><!-- #header -->
       {% endblock %}

{% block banner %}
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-center">
                <div class="banner-content col-lg-12">
                    <h1 class="text-white">
                        <!--<span>1500+</span> Jobs posted last week -->
                    </h1>
                    <form action="search.html" class="serach-form-area">
                        <div class="row justify-content-center form-wrap">
                            <div class="col-lg-4 form-cols">
                                <input type="text" class="form-control" name="search" placeholder="what are you looging for?">
                            </div>
                            <div class="col-lg-3 form-cols">
                                <div class="default-select" id="default-selects">
                                    <select>
                                        <option value="1">Select area</option>
                                        <option value="2">Dhaka</option>
                                        <option value="3">Rajshahi</option>
                                        <option value="4">Barishal</option>
                                        <option value="5">Noakhali</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 form-cols">
                                <div class="default-select" id="default-selects2">
                                    <select>
                                        <option value="1">All Category</option>
                                        <option value="2">Medical</option>
                                        <option value="3">Technology</option>
                                        <option value="4">Goverment</option>
                                        <option value="5">Development</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2 form-cols">
                                <button type="button" class="btn btn-info">
                                    <span class="lnr lnr-magnifier"></span> Search
                                </button>
                            </div>
                        </div>
                    </form>
                    <!--<p class="text-white"> <span>Search by tags:</span> Tecnology, Business, Consulting, IT Company, Design, Development</p>-->
                </div>
            </div>
        </div>
    </section>
    <section class="features-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature">
                        <h4>Searching</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature">
                        <h4>Applying</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature">
                        <h4>Security</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-feature">
                        <h4>Notifications</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="popular-post-area pt-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="active-popular-post-carusel">
                    <div class="single-popular-post d-flex flex-row">
                        <div class="thumb">
                            <img class="img-fluid" src="img/p1.png" alt="">
                            <a class="btns text-uppercase" href="#">view job post</a>
                        </div>
                        <div class="details">
                            <a href="#"><h4>Creative Designer</h4></a>
                            <h6>Los Angeles</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis.
                            </p>
                        </div>
                    </div>
                    <div class="single-popular-post d-flex flex-row">
                        <div class="thumb">
                            <img src="img/p2.png" alt="">
                            <a class="btns text-uppercase" href="#">view job post</a>
                        </div>
                        <div class="details">
                            <a href="#"><h4>Creative Designer</h4></a>
                            <h6>Los Angeles</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis.
                            </p>
                        </div>
                    </div>
                    <div class="single-popular-post d-flex flex-row">
                        <div class="thumb">
                            <img src="img/p1.png" alt="">
                            <a class="btns text-uppercase" href="#">view job post</a>
                        </div>
                        <div class="details">
                            <a href="#"><h4>Creative Designer</h4></a>
                            <h6>Los Angeles</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis.
                            </p>
                        </div>
                    </div>
                    <div class="single-popular-post d-flex flex-row">
                        <div class="thumb">
                            <img src="img/p2.png" alt="">
                            <a class="btns text-uppercase" href="#">view job post</a>
                        </div>
                        <div class="details">
                            <a href="#"><h4>Creative Designer</h4></a>
                            <h6>Los Angeles</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis.
                            </p>
                        </div>
                    </div>
                    <div class="single-popular-post d-flex flex-row">
                        <div class="thumb">
                            <img src="img/p1.png" alt="">
                            <a class="btns text-uppercase" href="#">view job post</a>
                        </div>
                        <div class="details">
                            <a href="#"><h4>Creative Designer</h4></a>
                            <h6>Los Angeles</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis.
                            </p>
                        </div>
                    </div>
                    <div class="single-popular-post d-flex flex-row">
                        <div class="thumb">
                            <img src="img/p2.png" alt="">
                            <a class="btns text-uppercase" href="#">view job post</a>
                        </div>
                        <div class="details">
                            <a href="#"><h4>Creative Designer</h4></a>
                            <h6>Los Angeles</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End popular-post Area -->

    <section class="counter a" style="margin-bottom: 100px; margin-top: 30px; background-color: #DA0833">
        <div align="center">
            <table class="t" >
                <tr>
                    <td>
                        <div class="container">
                            <div>
                                <div class="counter-text">

                                    <h3>1000</h3>
                                    <p>Jobs Posted</p>
                                </div>
                            </div>
                    </td>
                    <td>
                        <div>
                            <div class="counter-text">

                                <h3>207</h3>
                                <p>All Companies</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <div class="counter-text">

                                <h3>700+</h3>
                                <p>Total Members</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <div class="counter-text">

                                <h3>802+</h3>
                                <p>Happy Members</p>
                            </div>
                        </div>
                   </div>
                </td>
              </tr>
            </table>
        </div>
    </section>




{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/vendor/jquery-2.2.4.min.js') }}"></script>
            <script src="{{ asset('js/vendor/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/easing.min.js') }}"></script>
            <script src="{{ asset('js/hoverIntent.js') }}"></script>
            <script src="{{ asset('js/superfish.min.js') }}"></script>
            <script src="{{ asset('js/jquery.ajaxchimp.min.js') }}"></script>
            <script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
            <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
            <script src="{{ asset('js/jquery.sticky.js') }}"></script>
            <script src="{{ asset('js/jquery.nice-select.min.js') }}"></script>
            <script src="{{ asset('js/mail-script.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
        {% endblock %}

