{% extends '@User/Default/userhome.html.twig' %}

        {% block banner %}
            <section class="banner-area relative" id="home">
                <div class="overlay overlay-bg"></div>
                <div class="container">
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="about-content col-lg-12">
                            <h1 class="text-white">
                                Liste des Offres
                            </h1>
                            <p class="text-white link-nav"><a href="../Default/index.html.twig">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="category.html"> Liste des Offre</a></p>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}

        {% block content %}

<section class="jobs">
    <div class="container">
        <div class="heading">

        </div>
        <div class="row top-pad">

                <div class="col-md-2 col-sm-3">
                    <p>Search By:</p>
                </div>

                <div class="col-md-10 col-sm-9 pull-right">
                    <ul class="filter-list">
                        <li>
                            <input id="checkbox-1" class="checkbox-custom" name="checkbox-1" type="checkbox" checked="">
                            <label for="checkbox-1" class="part-time checkbox-custom-label">Part Time</label>
                        </li>

                        <li>
                            <input id="checkbox-2" class="checkbox-custom" name="checkbox-2" type="checkbox">
                            <label for="checkbox-2" class="full-time checkbox-custom-label">Full Time</label>
                        </li>

                        <li>
                            <input id="checkbox-3" class="checkbox-custom" name="checkbox-3" type="checkbox">
                            <label for="checkbox-3" class="freelancing checkbox-custom-label">Freelancing</label>
                        </li>

                        <li>
                            <input id="checkbox-4" class="checkbox-custom" name="checkbox-4" type="checkbox">
                            <label for="checkbox-4" class="internship checkbox-custom-label">Internship</label>
                        </li>

                    </ul>
                </div>

        </div>
        <div class="companies">
            {% for offre in offres %}

                {% set test = 0 %}
                {% for application in applications %}
                    {% if offre.id == application.offre.id %}
                            {% set test = 1 %}
                      {% endif %}
                    {% endfor %}

            {% if test == 1 %}
            <div class="company-list" style="background-color: #F8FFFD">
                {% else %}

                <div class="company-list">
                    {% endif %}

                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <div class="company-logo" align="center" style="position: absolute;   left: 50%;  top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);">
                            <img src="{{asset('img/google.png')}}" class="img-responsive" alt="" />
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <div class="company-content">
                            <h3>{{ offre.titre }}</h3>
                            <p>
                      <span class="company-name">
                      <i class="fa fa-bookmark-o"></i>{{ offre.datePublication | date("d/m/Y") }}</span>

                      <span class="company-name">
                      <i class="fa fa-briefcase"></i>{{ offre.entreprise.fullname }}</span>

                      <span class="company-name">
                      <i class="fa fa-dashcube"></i>{{ offre.typePost.name }}</span>

                      <span class="package"><i class="fa fa-money">
                      </i>{{ offre.salaire }} TND</span>

                      <span class="package"><i class="fa fa-trophy">
                      </i>BAC +{{ offre.niveauEtude }} </span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <a href={{ path('consulter_offre', {'id':offre.id}) }}><button type="submit" class="btn view-job" style="align-self: center" name="View Job">Consulter</button></a>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
</section>


        {% endblock %}

