{% extends '@User/Default/userhome.html.twig' %}
{% block banner %}

    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        Mes entretiens
                    </h1>
                    <p class="text-white link-nav"><a href="../Default/index.html.twig">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="category.html"> Liste des Offre</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block content %}
    <div class="album py-5 bg-light">
        <div class="container">

            <h2>Recherche</h2>

            <div class="sidebar-search">

                <div class="input-group custom-search-form">

                    <input type="text" id="search" class="form-control" placeholder="Par poste ou date(ex: 2019-01-02)">
                </div>
                <!-- /input-group -->
            </div>
            <ul class="nav" id="side-menu">
                <li>
                    {#  <a href="#"> Entities<span class="fa arrow"></span></a>#}
                    <ul class="nav nav-second-level" id="entitiesNav">
                    </ul>
                </li>
            </ul><br><br><br><br>

            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

            <script type="text/javascript">
                jQuery(document).ready(function() {
                    var searchRequest = null;
                    $("#search").keyup(function() {
                        var minlength = 1;
                        var that = this;
                        var value = $(this).val();
                        var entitySelector = $("#entitiesNav").html('');
                        if (value.length >= minlength ) {
                            if (searchRequest != null)
                                searchRequest.abort();
                            searchRequest = $.ajax({
                                type: "GET",
                                url: "{{ path('ajax_search_c') }}",
                                data: {
                                    'q' : value
                                },
                                dataType: "text",
                                success: function(msg){
                                    //we need to check if the value is the same
                                    if (value===$(that).val()) {
                                        var result = JSON.parse(msg);
                                        $.each(result, function(key, arr) {
                                            $.each(arr, function(refEnt, value) {
                                                if (key === 'ent') {
                                                    if (refEnt !== 'error') {
                                                        console.log(value[0]);
                                                        var id=value[0];



                                                        var path1 = '{{ path('delete_interview', { 'refEnt': 'xx' }) }}'
                                                        path1 = path1.replace("xx",id);



                                                        entitySelector.append(

                                                            "<table class='table table-hover'>"+
                                                            "<tr style='color: saddlebrown'>"+
                                                            "<th>"+"Entreprise "+"</th>"+
                                                            "<th>"+"poste"+"</th>"+
                                                            "<th>"+"date"+"</th>"+
                                                            "<th>"+"heure "+"</th>"+
                                                            "<th>"+"Action"+"</th>"+"<tr>"
                                                            +"<tr class='table-info'>"+

                                                            "<td>" +value[1]+"</td>"+
                                                            "<td>" +value[2]+"</td>"+
                                                            "<td>" +value[4]+"</td>"+
                                                            "<td>" +value[3]+"</td>"+

                                                            "<td><ul><li><a href='"+ path1 + "'>Effacer</a></li></td>"+

                                                            "</table>");
                                                    } else {
                                                        entitySelector.append('<li class="errorLi">'+value+'</li>');
                                                    }
                                                }
                                            });
                                        });
                                    }
                                }
                            });
                        }
                    });
                });
            </script></div></div>


    <table class="table table-hover">
        <tr> </tr>
        <tr> </tr>
        <tr >{#style="background-color: darkseagreen"#}

            <th>  Entreprise   </th>
            <th>  poste  </th>
            <th>  date  </th>
            <th>  heure  </th>
            <th>  Actions  </th>


        </tr>
        {% for e in list %}
            <tr class="table-info">

                <td> {{ e.username }}</td>
                <td> {{ e.poste  }}</td>
                <td> {{ e.date_ent  |date("m/d/Y") }}</td>
                <td> {{ e.heure_ent  }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('delete_interview', { 'refEnt': e.ref_ent }) }}" >Effacer</a>
                        </li>

                    </ul>
                </td>
            </tr>


        {% endfor %}

    </table>

{% endblock %}
