{% extends '@User/Default/entreprisehome.html.twig' %}
{% block banner %}
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        Listes des inscription au offres
                    </h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block content %}
    <div class="album py-5 bg-light">
        <div class="container">
            <h2>Selectionner le condidat </h2>
            <a href="{{ path('afficherInterview') }}" class="btn btn-outline-info">Retour</a>

            <div class="post-container">
                <div class="row">
                    <section class="featured section-padding" >
                        <div class="container" >

                            <div class="row" >
                                <br><br><br>
                                {% for formation in list %}


                               <div class="border border-info"  >

                                        <div class="featured-box" >
                                            <figure>
                                                <div class="homes-tag featured"><h4>{{ formation.username }}</h4></div>
                                                <h6>Poste </h6><div class="homes-tag rent"><i class="lni-heart"></i>{{ formation.poste }}

                                            </figure>
                                            <div class="content-wrapper">
                                                <div class="feature-content">

                                                  <div class="meta-tag">


                                                        <div class="listing-category">
                                                            <label><h6>lettre de motivation </h6></label><br>{{ formation.lettre_motivation }}<br>


                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="listing-bottom clearfix">
                                                    <div class="container">
                                                        <br>
                                                        <a href="{{ path('ajouter_interview', { 'offre_id': formation.offre_id }) }}" ><button type="button" class="btn btn-sm btn-outline-info" >Accepter</button>
                                                        </a>
                                                        <a href="{{ path('refuserDemandeinterview', { 'offre_id': formation.offre_id }) }}" ><button type="button" class="btn btn-sm btn-outline-danger" >Refuser</button>
                                                        </a>

                                                        <br><br>
                                                    </div>


                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <br><br>
                                {% endfor %}



                            </div>

                        </div>

                    </section>




                </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
