{% extends '@User/Default/entreprisehome.html.twig' %}
{% block banner %}
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        Mes entretiens
                    </h1>
                    <p class="text-white link-nav"><a href="../Default/index.html.twig">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="category.html"> Liste des Offre</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block content %}{% block content %}
    <h1>Interview</h1>

    <table>
        <tbody>
            <tr>
                <th>Ref ent</th>
                <td>{{ interview.refEnt }}</td>
            </tr>
            <tr>
                <th>Date ent</th>
                <td>{% if interview.dateEnt %}{{ interview.dateEnt|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Heure_ent</th>
                <td>{{ interview.heureEnt }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('interview_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('interview_edit', { 'refEnt': interview.refEnt }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
