{% extends '@User/Default/entreprisehome.html.twig' %}

  {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('css/linearicons.css') }}">
      <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
      <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
      <link rel="stylesheet" href="{{ asset('css/bootstrap2.css.map') }}">
      <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
      <link rel="stylesheet" href="{{ asset('css/nice-select.css') }}">
      <link rel="stylesheet" href="{{ asset('css/animate.min.css') }}">
      <link rel="stylesheet" href="{{ asset('css/owl.carousel.css') }}">
      <link rel="stylesheet" href="{{ asset('css/main.css') }}">
      <link rel="stylesheet" href="{{ asset('css/ajout_ent.css') }}">

  {% endblock %}

{% block banner %}
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1 class="text-white">
                        Tous les evaluations
                    </h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block content %}
    <div class="album py-5 bg-light">
        <div class="container">

            <h2>Recherche</h2>

            <div class="sidebar-search">

                <div class="input-group custom-search-form">

                    <input type="text" id="search" class="form-control" placeholder="Rechercher par nom condidat ou poste">
                </div>
                <!-- /input-group -->
            </div>
            <ul class="nav" id="side-menu">
                <li>
                    {#  <a href="#"> Entities<span class="fa arrow"></span></a>#}
                    <ul class="nav nav-second-level" id="entitiesNav">
                    </ul>
                </li>
            </ul><br><br><br><br>

            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

            <script type="text/javascript">
                jQuery(document).ready(function() {
                    var searchRequest = null;
                    $("#search").keyup(function() {
                        var minlength = 1;
                        var that = this;
                        var value = $(this).val();
                        var entitySelector = $("#entitiesNav").html('');
                        if (value.length >= minlength ) {
                            if (searchRequest != null)
                                searchRequest.abort();
                            searchRequest = $.ajax({
                                type: "GET",
                                url: "{{ path('ajax_search_eval') }}",
                                data: {
                                    'q' : value
                                },
                                dataType: "text",
                                success: function(msg){
                                    //we need to check if the value is the same
                                    if (value===$(that).val()) {
                                        var result = JSON.parse(msg);
                                        $.each(result, function(key, arr) {
                                            $.each(arr, function(refEnt, value) {
                                                if (key === 'ent') {
                                                    if (refEnt !== 'error') {
                                                        console.log(value[0]);
                                                        var id=value[2];

                                                        var path = '{{ path('edit_eval', { 'refEntretien': 'x'}) }}'
                                                        path = path.replace("x",id);

                                                        var path1 = '{{ path('delete_eval', { 'refEntretien': 'xx' }) }}'
                                                        path1 = path1.replace("xx",id);


                                                        entitySelector.append(

                                                            "<table class='table table-hover'>"+
                                                            "<tr style='color: saddlebrown'>"+
                                                            "<th>"+"condidat "+"</th>"+
                                                            "<th>"+"evaluation "+"</th>"+
                                                            "<th>"+"Action"+"</th>"+"<tr>"
                                                            +"<tr class='table-info'>"+

                                                            "<td>" +value[1]+"</td>"+
                                                            "<td>" +value[3]+"</td>"+


                                                            "<td><ul><li><a href='"+ path + "'>Modifer</a></li><li><a href='"+ path1 + "'>Effacer</a></li><li></td>"+

                                                            "</table>");
                                                    } else {
                                                        entitySelector.append('<li class="errorLi">'+value+'</li>');
                                                    }
                                                }
                                            });
                                        });
                                    }
                                }
                            });
                        }
                    });
                });
            </script></div></div>






    <a href="{{ path('afficherInterview') }}" class="btn btn-outline-info">Retour</a>

    <center>
        <table class="table table-hover">

            <tr> </tr>
            <tr> </tr>
            <tr style="background-color: darkseagreen">


                <th>condidat</th>
                <th>evaluation</th>
                <th>Actions</th>



            </tr>
            {% for e in list %}
                <tr class="table-info">

                    <td> {{ e.username }}</td>
                    <td> {{ e.evaluation  }}</td>
                    <td>
                        <ul>
                            <a class="btn btn-info" href="{{ path('edit_eval', { 'refEntretien': e.ref_entretien}) }}">Modifier</a>
                        </ul>
                     {# <li>
                            <a href="{{ path('delete_eval', { 'refEntretien': e.ref_entretien }) }}">Supprimer</a>
                        <ul  >
                                <li><a class="btn btn-warning" href="{{ path('delete_eval', { 'refEntretien': e.ref_entretien }) }}" >Supprimer</a></li>
                            </ul>#}
                            <ul >
                                {#<li><a href="{{ path('delete_interview', { 'refEnt': e.ref_ent }) }}" >Effacer</a></li>#}

                                <!-- Button trigger modal -->
                                <a class="btn btn-danger" href="{{ path('delete_eval', { 'refEntretien': e.ref_entretien }) }}" data-toggle="modal" data-target="#exampleModal">
                                    Effacer
                                </a>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Confirmer La suppression ? </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Etes-vous sur de supprimer cette evaluation ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>

                                                <a class="btn btn-danger" href="{{ path('delete_eval', { 'refEntretien': e.ref_entretien }) }}">confirmer</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ul>

                        </ul>
                        </ul>

                    </td>

                </tr>
            {% endfor %}

        </table>

    </center>
{% endblock %}